body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #007BFF;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-alerts {
  background-color: #28a745;
  color: white;
}

#stop-alerts {
  background-color: #dc3545;
  color: white;
}
/* Restrict styling to the popup created by the extension */
#motivational-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000; /* Ensure it appears on top of the website */
}

#motivational-popup .popup-content p {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin: 0 0 10px;
}

#motivational-popup .popup-content button {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#motivational-popup .popup-content button:hover {
  background-color: #0056b3;
}
